@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: #FFFFFF;
  color: #24252C;
}
